# 2024 Olymptic Medelist Dataset

## 1. How many unique countries are represented in the dataset?
*Hint: Use the `unique()` or `nunique()` function on the `country` or `country_long` column.*

In [1]:
import pandas as pd
data=pd.read_csv("medallists.csv")

In [12]:
# Your code here
data['country_long'].nunique()

92

## 2. Which event had the most medalists?
*Hint: Use `value_counts()` on the `event` column to determine the event with the highest number of medalists.*

In [3]:
# Your code here
data['event'].value_counts().idxmax()

'Men'

## 3. What is the gender distribution of the medalists?
*Hint: Use `value_counts()` on the `gender` column.*

In [4]:
# Your code here
data['gender'].value_counts()

gender
Female    1162
Male      1153
Name: count, dtype: int64

## 4. How many athletes from Belgium won medals?
*Hint: Filter on the `country_code` column with `BEL` and check the number of rows.*

In [13]:
# Your code here
len(data[data['country_code']=='BEL'])

10

## 5. What is the average age of gold medalists?
*Hint: Filter for `Gold Medal` in the `medal_type` column, and calculate the difference between `medal_date` and `birth_date`.*

In [6]:
# Your code here
new = data.medal_type=="Gold Medal"
data['medal_date']=pd.to_datetime(data['medal_date'])
data['birth_date']=pd.to_datetime(data['birth_date'])
data['medal_date'].dt.year-data['birth_date'].dt.year
average_age= data['medal_date'].dt.year - data['birth_date'].dt.year
average_age.mean()

26.88596112311015

## 6. List the names of all athletes who won a silver medal in a cycling event.
*Hint: Filter by `medal_type` (Silver) and `discipline` (Cycling Road), then display the `name` column.*

In [14]:
# Your code here
cycling_silver=data[(data.medal_type=='Silver Medal') & (data.discipline=='Cycling Road')]
cycling_silver['name']

1         GANNA Filippo
4        HENDERSON Anna
267    MADOUAS Valentin
336        VOS Marianne
Name: name, dtype: object

## 7. How many events did female athletes participate in?
*Hint: Filter on `gender` (Female) and count the unique values in the `event` column.*

In [8]:
# Your code here
data[data.gender=="Female"]['event'].nunique()

150

## 8. Which country had the highest number of gold medals?
*Hint: Filter for `Gold Medal` in the `medal_type` column and use `value_counts()` on the `country` column.*

In [9]:
data[(data.medal_type=="Gold Medal")]
data['country'].value_counts().idxmax()

'United States'

## 9. What are the top three most common disciplines for male athletes?
*Hint: Filter by `gender` (Male) and use `value_counts()` on the `discipline` column to get the top three.*

In [15]:
# Your code here
data[(data.gender=="Male")]
data['discipline'].value_counts().head(3)

discipline
Athletics    231
Swimming     219
Rowing       144
Name: count, dtype: int64

## 10. Find the youngest and oldest medalists in the dataset.
*Hint: Calculate the difference between `medal_date` and `birth_date`, then use `min()` and `max()`.*

In [16]:
# Your code here
data['age'] = data['medal_date'].dt.year - data['birth_date'].dt.year

In [17]:
data['age']

0       24
1       28
2       30
3       32
4       26
        ..
2310    26
2311    24
2312    28
2313    23
2314    22
Name: age, Length: 2315, dtype: int32

In [18]:
data.sample()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,age
1874,2024-08-09,Bronze Medal,3.0,RUSSELL Aaron,Male,USA,United States,United States of America,USA,United States,...,M,Volleyball,Men,HTEAM,/en/paris-2024/results/volleyball/men/fnl-0002...,1993-06-04,1918009,VVOMTEAM6---USA01,True,31

In [19]:
data[data['age'] == data['age'].min()]

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,age
432,2024-08-06,Gold Medal,1.0,TREW Arisa,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,Skateboarding,Women's Park,ATH,/en/paris-2024/results/skateboarding/women-s-p...,2010-05-12,1946064,NaN,True,14

In [20]:
data[data['age'] == data['age'].max()]

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,age
1126,2024-08-02,Silver Medal,2.0,KRAUT Laura,Female,USA,United States,United States of America,USA,United States,...,O,Equestrian,Jumping Team,TEAM,/en/paris-2024/results/equestrian/jumping-team...,1965-11-14,1951840,EQUOJUMPTEAMUSA01,True,59